[submodule "cpp_module_00"]
	path = cpp_module_00
	url = git@github.com:PliegerNicolas/cpp_module_00.git
[submodule "cpp_module_01"]
	path = cpp_module_01
	url = git@github.com:PliegerNicolas/cpp_module_01.git
[submodule "cpp_module_02"]
	path = cpp_module_02
	url = git@github.com:PliegerNicolas/cpp_module_02.git
[submodule "cpp_module_03"]
	path = cpp_module_03
	url = git@github.com:PliegerNicolas/cpp_module_03.git
[submodule "cpp_module_04"]
	path = cpp_module_04
	url = git@github.com:PliegerNicolas/cpp_module_04.git
[submodule "cpp_module_05"]
	path = cpp_module_05
	url = git@github.com:PliegerNicolas/cpp_module_05.git
[submodule "cpp_module_06"]
	path = cpp_module_06
	url = git@github.com:PliegerNicolas/cpp_module_06.git
[submodule "cpp_module_07"]
	path = cpp_module_07
	url = git@github.com:PliegerNicolas/cpp_module_07.git
[submodule "cpp_module_08"]
	path = cpp_module_08
	url = git@github.com:PliegerNicolas/cpp_module_08.git
[submodule "cpp_module_09"]
	path = cpp_module_09
	url = git@github.com:PliegerNicolas/cpp_module_09.git
